<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" title="{{ .Get "title" }}" src="https://live.nicovideo.jp/embed/{{ .Get "id" }}" loading="lazy"></iframe>
</div>
