<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" title="{{ .Get "title" }}" src="https://www.youtube.com/embed/videoseries?list={{ .Get "id" }}"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen;"
    loading="lazy"
    >
</iframe>
</div>
